<div class='well'>
  <p>
    <b>Name:</b>
    <%= @pet.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @pet.description %>
  </p>

  <p>
    <b>Sex:</b>
    <%= @pet.sex %>
  </p>

  <p>
    <b>Age:</b>
    <%= @pet.age %>
  </p>

  <p>
    <b>Special Notes:</b>
    <%= @pet.special_notes %>
  </p>
  <p>
    <b>Dietary Requirements:</b>
    <%= @pet.dietary_requirements %>
  </p>


</div>
    <%= link_to 'Add more', new_customer_pet_path(current_customer), :class => "btn btn-primary" %>
  <%= link_to 'Save', details_customer_path(current_customer), :class => "btn btn-success" %>

