<%= simple_form_for( @booking, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


<%= f.input :dropoff_date, label: "Check-in", as: :datepicker %><br />
<%= f.input :pickup_date, label: "Check-out", as: :datepicker %><br />

<%= f.input :visitors, label: "Guests", as: :check_boxes, collection: current_customer.pets, value_method: :name, include_blank: "Test" %><br />
<%= f.input :pickup_required, label: "Collection", as: :radio_buttons, hint: 'Does Fido need do be picked up? ' %><br />

  </div>
    <%= f.error :base %>
    <%= f.submit "Save", :class => "btn btn-primary"  %>
<% end %>