<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :size => "10x10" %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= telephone_field("booking",  "contact_number") %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Check-in Date" %><br />
    <%= f.date_select :start_date, :start_year => 2013, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
  </div>
  <div class="field">
    <%= f.label "Check-out Date" %><br />
    <%= f.date_select :end_date, :start_year => 2013, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
  </div>
  <div class="field">
    <%= f.label "Number of Guests" %><br />
    <%= number_field("booking", "dog_count", :value =>1)%>
  </div>
  <div class="field">
    <%= f.label "Chauffeur services" %><br />
  </div>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>
