<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Drop-off date</th>
    <th>Pickup date</th>
    <th>Phone</th>
    <th>Email</th>
    <th>How Many</th>
    <th>Pickup</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.name %></td>
    <td><%= booking.address %></td>
    <td><%= booking.dropoff_date %></td>
    <td><%= booking.pickup_date %></td>
    <td><%= booking.phone %></td>
    <td><%= booking.email %></td>
    <td><%= booking.dog_count %></td>
    <td><%= booking.pickup_required %></td>    
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
