<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Contact number</th>
    <th>Email</th>
    <th>Dog count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.name %></td>
    <td><%= booking.address %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <td><%= booking.contact_number %></td>
    <td><%= booking.email %></td>
    <td><%= booking.dog_count %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
