<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Mobile</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.name %></td>
    <td><%= booking.address %></td>
    <td><%= booking.mobile %></td>
    <td><%= booking.date %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New booking', new_booking_path %>
