<div class="well">

<h1>My Bookings</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Drop-off date</th>
      <th>Pickup date</th>
      <th>How Many</th>
      <th>Pickup</th>    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @bookings.each do |booking| %>
  <tbody>
    <tr>
      <td><%= booking.dropoff_date %></td>
      <td><%= booking.pickup_date %></td>
      <td><%= booking.dog_count %></td>
      <td><%= booking.pickup_required %></td>    
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path, :class => "btn btn-primary" %>
</div>