<p id="notice"><%= notice %></p>
<div class='well'>

<p>
  <b>Dropoff date:</b>
  <%= @booking.dropoff_date %>
</p>

<p>
  <b>Pickup date:</b>
  <%= @booking.pickup_date %>
</p>

<p>
  <b>Visitors:</b>
  <%= @booking.dog_count %>
</p>

<p>
  <b>Pickup Required:</b>
  <%= @booking.pickup_required %>
</p>

<% if current_customer.address == nil %>
<p> No address on record </p>
<%= link_to 'Add my address', add_address_to_customer_path(current_customer) %> 
<% else %>


<%= link_to 'Edit', edit_booking_path %> |
<%= link_to 'Back', bookings_path %>
<% end %>
</div>
