<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @booking.name %>
</p>

<p>
  <b>Address:</b>
  <%= @booking.address %>
</p>

<p>
  <b>Start date:</b>
  <%= @booking.dropoff_date %>
</p>

<p>
  <b>End date:</b>
  <%= @booking.pickup_date %>
</p>

<p>
  <b>Contact number:</b>
  <%= @booking.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @booking.email %>
</p>

<p>
  <b>Attendees:</b>
  <%= @booking.dog_count %>
</p>


<p>
  <b>Pickup Required:</b>
  <%= @booking.pickup_required %>
</p>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
