<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @booking.name %>
</p>

<p>
  <b>Address:</b>
  <%= @booking.address %>
</p>

<p>
  <b>Start date:</b>
  <%= @booking.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @booking.end_date %>
</p>

<p>
  <b>Contact number:</b>
  <%= @booking.contact_number %>
</p>

<p>
  <b>Email:</b>
  <%= @booking.email %>
</p>

<p>
  <b>Dog count:</b>
  <%= @booking.dog_count %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
