<p id="notice"><%= notice %></p>
<div class='well'>

<p>
  <b>Dropoff date:</b>
  <%= @booking.dropoff_date %>
</p>

<p>
  <b>Pickup date:</b>
  <%= @booking.pickup_date %>
</p>

<p>
  <b>Visitors:</b>
  <%= @booking.dog_count %>
</p>

<p>
  <b>Pickup Required:</b>
  <%= @booking.pickup_required %>
</p>



<%= link_to 'Edit', edit_booking_path %> |
<%= link_to 'Back', bookings_path %>
</div>
