<%= simple_form_for(@customer, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
<div class='well'>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>

  </div>
  	<%= f.error :base %>
    <%= f.button :submit, "Save", :class => "btn btn-success" %>
  </div>
</div>
<% end %>
