<%= simple_form_for(@customer, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

<div class=well>
  <h1>We're going to need to grab some details</h1>
  <br />
  <div class="form-inputs">
    <%= f.input :name%><br />
    <%= f.input :phone%><br />
	  <%= f.simple_fields_for :address do |address| %>
	    <%= render :partial => 'shared/address', :locals => {:f => address} %>
	  <% end %>

  </div>
  	<%= f.error :base %>
    <%= f.button :submit, "Save", :class => "btn btn-success" %>
  </div>
  <% end %>

</div>