<h1>Contact details</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.name%></td>
      <td><%= @customer.phone%></td>
      <td><%= @customer.email%></td>
    </tr>
  </tbody>

</table>

<h1>Address details</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Line1</th>
      <th>Line2</th>
      <th>City</th>
      <th>State</th>
      <th>Postcode</th>              
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customer.address.line1%></td>
      <td><%= @customer.address.line2%></td>
      <td><%= @customer.address.city%></td>
      <td><%= @customer.address.state%></td>
      <td><%= @customer.address.post_code%></td>            
    </tr>
  </tbody>

</table>
<h1>My Pets</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Age</th>
      <th>Special Notes</th>  
      <th>Dietry requirements</th>                    
    </tr>
  </thead>
  <% @customer.pets.each do |pet| %>
    <tbody>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
        <td><%= pet.age %></td>
        <td><%= pet.special_notes %></td>
        <td><%= pet.dietry_requirements %></td>           
      </tr>
    </tbody>
  <% end %>
</table>
<%= link_to 'Add Pet', new_customer_pet_path(current_customer), :class => "btn btn-primary"%>
<br />
<% unless @customer.pets.empty? %>
	<h1>My Bookings</h1>
	<table class="table table-striped table-hover table-bordered">
	  <thead>
	    <tr>
	      <th>Drop-off date</th>
	      <th>Pickup date</th>
	      <th>How Many</th>
	      <th>Pickup</th>                 
	    </tr>
	  </thead>
	  <% @customer.bookings.each do |booking| %>
	    <tbody>
	      <tr>
	        <td><%= booking.dropoff_date %></td>
	        <td><%= booking.pickup_date %></td>
	        <td><%= booking.dog_count %></td>
	        <td><%= booking.pickup_required %></td>         
	      </tr>
	    </tbody>
	  <% end %>
	</table>
	<br />
	<%= link_to 'New Booking', new_booking_path, :class => "btn btn-primary"%>
<% end %>
