<h3>Contact details</h3>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.name%></td>
      <td><%= @customer.phone%></td>
      <td><%= @customer.email%></td>
    </tr>
  </tbody>

</table>

<h3>Address details</h3>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Line 1</th>
      <th>Line 2</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>              
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customer.address.line1%></td>
      <td><%= @customer.address.line2%></td>
      <td><%= @customer.address.city%></td>
      <td><%= @customer.address.state%></td>
      <td><%= @customer.address.post_code%></td>            
    </tr>
  </tbody>
</table>
<%= link_to 'Update Address', add_address_to_customer_path, :class => "btn btn-primary"%>
<h3>My Pets</h3>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Age</th>
      <th>Special Notes</th>  
      <th>Dietry requirements</th>                    
    </tr>
  </thead>
  <% @customer.pets.each do |pet| %>
    <tbody>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
        <td><%= pet.age %></td>
        <td><%= pet.special_notes %></td>
        <td><%= pet.dietry_requirements %></td>           
      </tr>
    </tbody>
  <% end %>
</table>
<%= link_to 'Add Pet', new_customer_pet_path(current_customer), :class => "btn btn-primary"%>
<br />
<% unless @customer.pets.empty? %>
	<h3>My Bookings</h3>
	<table class="table table-striped table-hover table-bordered">
	  <thead>
	    <tr>
	      <th>Check-in</th>
	      <th>Check-out</th>
	      <th>Guests</th>
	      <th>Collection</th>                 
	    </tr>
	  </thead>
	  <% @customer.bookings.each do |booking| %>
	    <tbody>
	      <tr>
	        <td><%= booking.dropoff_date %></td>
	        <td><%= booking.pickup_date %></td>
	        <td>
		        <% booking.visitors.each do |visitor| %>
		       		<%= visitor unless visitor.empty?%>
		        <% end %>
		      </td>
	        <td><%= booking.pickup_required %></td>         
	      </tr>
	    </tbody>
	  <% end %>
	</table>
	<%= link_to 'New Booking', new_booking_path, :class => "btn btn-primary"%>
<% end %>
