<div class='well'>
<h3>Contact details</h3> 

<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.name%></td>
      <td><%= @customer.phone%></td>
      <td><%= @customer.email%></td>      
    </tr>
  </tbody>
</table>
<%= link_to 'Update My details', edit_customer_path, :class => "btn-small btn-primary"%>
<h3>Address details</h3>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>    
    </tr>
  </thead>

  <tbody>
    <% @customer.addresses.each do |address|  %>
      <tr>
        <td><%= address.line1%></td>
        <td><%= address.line2%></td>
        <td><%= address.suburb%></td>
        <td><%= address.state%></td>
        <td><%= address.post_code%></td>     
      </tr>
    <% end %>  
  </tbody>
</table>
<%= link_to 'Add Address', new_customer_address_path(@customer, @address), :class => "btn-small btn-primary"%>
<h3>My Pets</h3>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sex</th>      
      <th>Age</th>
      <th>Special Notes</th>  
      <th>Dietary requirements</th>                          
    </tr>
  </thead>
  <% @customer.pets.each do |pet| %>
    <tbody>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
        <td><%= pet.sex %></td>        
        <td><%= pet.age %></td>
        <td><%= pet.special_notes %></td>
        <td><%= pet.dietary_requirements %></td>        
      </tr>
    </tbody>
  <% end %>
</table>
<%= link_to 'Add Pet', new_customer_pet_path(current_customer), :class => "btn-small btn-primary"%>
<br />
<% unless @customer.pets.empty? %>
	<h3>My reservations</h3>
	<table class="table table-bordered ">
	  <thead>
	    <tr class='success'>
	      <th>Check-in</th>
	      <th>Check-out</th>
	      <th>Guests</th>
	      <th>Collection</th>               
	    </tr>
	  </thead>
	  <% @customer.reservations.each do |reservation| %>
	    <tbody>
	      <tr>
	        <td><%= reservation.checkin %></td>
	        <td><%= reservation.checkout %></td>
	        <td>
		        <% reservation.guests.each do |guest| %>
		       		<%= guest unless guest.empty?%>
		        <% end %>
		      </td>
	        <td><%= reservation.collection_required %></td>         
        </tr>
	    </tbody>
	  <% end %>
	</table>
  <%= link_to 'New reservation', new_reservation_path, :class => "btn-small btn-primary" %>
<% end %>

</div>
