<h1>Your bookings</h1>

<table>
  <tr>
    <th>Dropoff Date</th>
    <th>Pickup Date</th>
    <th>No. Visitors</th>
    <th>Pickup required</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.booking.dropoff_date%></td>
    <td><%= customer.booking.pickup_date%></td>
    <td><%= customer.booking.dog_count%></td>
    <td><%= customer.booking.pickup_required%></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_customer_path %>
