<div class="well">

<h1>My Reservations</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Check-in</th>
      <th>Pickup date</th>
      <th>How Many</th>
      <th>Pickup</th>    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @reservations.each do |reservation| %>
  <tbody>
    <tr>
      <td><%= reservation.checkin %></td>
      <td><%= reservation.checkout %></td>
      <td>
        <% reservation.guests.each do |guest| %>
          <%= guest unless guest.empty?%>
        <% end %>
      </td>
      <td><%= reservation.collection_required %></td>    
      <td><%= link_to 'Show', reservation %></td>
      <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
      <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'New reservation', new_reservation_path, :class => "btn btn-primary" %>
</div>