
<div class='well'>

<p>
  <b>Check-in:</b>
  <%= @reservation.checkin %>
</p>

<p>
  <b>Check-out:</b>
  <%= @reservation.checkout %>
</p>

<p>
  <b>Guests:</b>
  <% @reservation.guests.each do |guest| %>
 		<%= guest unless guest.empty?%>
  <% end %>
</p>

<p>
  <b>Collection:</b>
  <%= @reservation.collection_required %>
</p>

<% if current_customer.addresses.empty? %>
</div>
<br />
<string><p>We don't appear to have your contact details for this reservation</p></string>
<%= link_to 'Add my details', new_customer_address_path(current_customer), :class => "btn btn-success" %> 
<% else %>

<%= link_to 'Edit', edit_reservation_path, :class => "btn btn-success" %>
<%= link_to 'Confirm', details_customer_path(current_customer), :class => "btn btn-primary" %>
</div>
<% end %>

