<!DOCTYPE html>
<html>
<head>
  <title>BellyScratchers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <%= stylesheet_link_tag    "application", "bootstrap-responsive", 'bootstrap.min', 'divshot-util', 'cloudfront.css', :media => "all" %>
  <%= javascript_include_tag "application", 'bootstrap.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">BellyScratchers</a>
        <div class="navbar-content">
          <ul class="nav">
            <li class="active">
             <li><%= link_to "Home", pages_path %> <li>
            </li>
            <li><%= link_to "Booking", new_booking_path %> <li>
              <a href="#">Photo Gallery</a> 
            </li>
            <li>
              <a href="#">Pricing</a> 
            </li>
            <li>
              <a href="#">Feebback</a> 
            </li>
            <li>
              <a href="#">About</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">    
    <%= yield %>
  </div>
</body>
</html>
