<!DOCTYPE html>
<html>
<head>
  <title>BellyScratchers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <%= stylesheet_link_tag    "application", "bootstrap-responsive", 'bootstrap.min', 'divshot-util', 'cloudfront.css', :media => "all" %>
  <%= javascript_include_tag "application", 'bootstrap.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">BellyScratchers</a>
        <div class="navbar-content">
          <ul class="nav">
            <li class="active">
             <li><%= link_to "Home", pages_path %></li>
            </li>
             <% if customer_signed_in? %>
            <li><%= link_to "My Bookings", bookings_path %></li>
             <% end %>
             <% if customer_signed_in? %>
            <li><%= link_to "My Details", details_customer_path(current_customer) %></li>
             <% end %>             
              <li><a href="#">Photo Gallery</a> </li>
            </li>
            <li>
              <a href="#">Pricing</a> 
            </li>
            <li>
              <a href="#">Feebback</a> 
            </li>
            <li>
              <a href="#">About</a> 
            </li>  
            <li><span>
              <% if customer_signed_in? %>
                Logged in as <strong><%= current_customer.email %></strong>.
                <%= link_to 'Edit profile', edit_customer_registration_path%>
                <%= link_to 'Logout', destroy_customer_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Sign up', new_customer_registration_path%>
                <%= link_to 'Login', new_customer_session_path%>
              <% end %>
            </span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">   
    <%= render partial: "shared/flash_messages", flash: flash %>   
    <%= yield %>
  </div>
</body>
</html>
